*{
    margin: 0;
}
html{ scroll-behavior: smooth;}

body{
    background: linear-gradient(#8ABD91,#9AC791,#8ABD91,#71AB7A);
}
.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    overflow: hidden; 
    grid-template-rows: fit-content(8ch) fit-content(8ch) 1fr;

}
img {
    max-width: 100%;
    height: auto;
    width: auto\9;
}

    img:hover {
        animation: shake 2s;
        animation-iteration-count: infinite;
    }
    @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-3deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
    }

.home{
    padding-top: 20px; padding-left: 30px;
    position: absolute;
   
}

    a {
        -webkit-transition: color 1.5s;
        transition: color 1.5s;
        cursor: pointer;
    }
    a:link { 
        text-decoration: none;
        color: #2a6c34;
        cursor: pointer;
    }
    a:visited { 
        text-decoration: none;
        color: #2a6c34;
        cursor: pointer;
    }
    a:hover {
    color: brown;
    cursor: pointer;
    }
    a:active { 
        text-decoration: none; 
    }

.title{
    grid-row: 1;
    grid-column: 1/6;
    text-align: center;
    font-size: 1.55em;
    padding-top: 12em;
}

.previous{
    grid-row: 1;
    grid-column: 1/2;
    padding-top: 15em;
    text-align: center;
    scale: 80%;
}
.next{
    grid-row: 1;
    grid-column: 5/6;
    padding-top: 15em;
    text-align: center;
    scale: 80%;
}

.text1, .text2,.text3,.text4,.text5,.text6{
    grid-column: 2/5;
    font-size: 30;
    text-align: center;
    /* color: white; */
}
.text1{
grid-row: 2;
padding-top: 9em;
}
.text2{
    grid-row: 3;
}
.text3{
    grid-row: 4;
}
.text4{
    grid-row: 6;
    padding-top: 50px;
}
.wildflower{
    grid-row: 6;
    grid-column: 1/2;
}
.wildflower2{
    grid-row: 6;
    grid-column: 5/6;
}
.wildflower3{
    grid-row: 6;
    grid-column: 1;
    padding-top: 300px;
}
.wildflowerR{
    grid-row: 6;
    grid-column: 5;
    padding-top: 200px;
    transform: scale(-1, 1);
}
.text5{
    grid-row: 7;
    padding-bottom: 80px;
}
.text6{
    grid-row: 9;
    padding-top: 80px;
    padding-bottom: 100px;
}

.ladybugR{
    grid-row: 2;
    grid-column: 5;
    scale: 60%;
    padding-top: 200px;
}
.ladybugL{
    grid-row: 2;
    grid-column: 1;
    scale: 40%;
    transform: scale(-1, 1);
    padding-top: 400px;
    rotate: 20deg;
}
.bee{
    grid-row: 2;
    grid-column: 1;
    rotate: 20deg;
    scale: 70%;
    padding-top: 70px;
}

.berries{
    grid-row: 3;
    grid-column: 1/2;
}
.berries2{
    grid-row: 3;
    grid-column: 5/6; 
    padding-left: 10px;  
    rotate: 180deg; 
}

.shell1,.shell2,.shell3,.shell4,.shell5{
    grid-row: 5;
    scale: 70%; 
}

.leaf2{
    grid-row: 8;
    grid-column: 2/3;
}    
.leaf3{
    grid-row: 8;
    grid-column: 1/2;
}
.leaf4{
    grid-row: 8;
    grid-column: 5/6;
}
.leaf5{
    grid-row: 8;
    grid-column: 4/5;
}
.leaf6{
    grid-row: 8;
    grid-column: 3/4;
}
footer{
    position: bottom;
    background-color: rgb(141, 27, 14);
    font-family:Courier, monospace;
    font-size: 20pt;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    overflow: hidden; 
    grid-template-rows: fit-content(8ch) fit-content(8ch) 1fr;
}
.leaff,.leaff2,.leaff,.leaff2,.leaff,.leaff2{
    grid-row: 2;
}

.previousf{
    grid-column: 2;
    grid-row: 1;
    padding-top: 80px;
}
.homef{
    grid-column: 3;
    grid-row: 1;
    padding-top: 80px;
}
.nextf{
    grid-column: 4;
    grid-row: 1;
    padding-top: 80px;
}
.reread{
    grid-column: 5;
    grid-row: 1;
    padding-top: 80px;
}
p{
    /* color: white; */
    font-size: 25px;
    text-align: center;
    font-family: courier, monospace;
    font-weight: 500;
}
h4{
    font-size: 25px;
    padding-left: 3em;
    padding-right: 3em;
    text-align: center;
    font-family: Courier, 'Courier New', monospace;
}
h3{
    font-family: fiora-monograms,sans-serif;
    color: rgb(141, 27, 14);
font-size: 30pt;
}
h2{
    text-align: center;
    font-family: Courier, 'Courier New', monospace;
    font-size: 25px;
}
h1{
    font-family: fiora-monograms,sans-serif;
    font-size: 120px;
    font-weight: 500;
    font-style: normal;
    color: rgb(175, 34, 18);
    text-align: center;
    line-height: 95px;

}

@media (max-width: 600px) {
    .container{
        overflow: clip; 
        grid-row-gap: 1px;
        grid-template-rows: fit-content(8ch) fit-content(8ch) 1fr;
    }
    body {
      background-color: #8ABD91;
    }
    .previous, .next{
        padding-top: 600px;
    }
    .previous{
        grid-column: 2;
    }
    .next{
        grid-column: 4;
    }
    .text1, .text2,.text3,.text4,.text5,.text6{
        grid-column: 1/6;
        padding-left: 20px;
        padding-right: 20px;
    }
    .wildflower{
        grid-row: 7;
        grid-column: 1;
    }
    .wildflower3{
        grid-row: 7;
        grid-column: 3;
        padding-top: 15px;
    }
    .wildflowerR{
        grid-row: 7;
        grid-column:5;
        padding-top: 0;
    }
    .text5{
        grid-row: 8;
    }
    .leaf2,.leaf3,.leaf4,.leaf5,.leaf6{
        grid-row: 9;
    }
    .text6{
        grid-row: 10;
        padding-top: 20px;
    }
    .title{
        font-size: 1.6em;
        padding-top: 5em;
    }
    footer{
        width: 100%;
        font-size: 15pt;
        font-family: Courier, 'Courier New', monospace;
        font-weight: 500;
        grid-template-rows: fit-content(8ch) fit-content(8ch) 1fr;
    }
    
   
    .bee,.berries,.berries2,.ladybugL,.ladybugR,.wildflower2{
         display: none;   
    }

    p{font-size: 90%;}
    h4{font-size: 14pt;}
    h2{font-size: 16px;}
    h3{font-size: 30px;}
}