*{
    margin: 0;
}

body{
    background: linear-gradient(#A9BD93,#9BEBA8,#9AC791,#71AB7A,#8ABD91);

}
.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    justify-content: center;

}
.homebutton{
    color: red;
    padding: 30px;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1;
    z-index: 1;
    font-size: 2em;

}
div.shadowR{
    grid-column: 1/4;
    grid-row: 1;
    scale: 40%;
    position: relative;

}
.title{
    text-align: center;
    padding-top: 9em;
    grid-row: 1;
    grid-column: 1/13;
    font-size: 2em;
    z-index: 1;
}
.leafbuttonR{
    grid-row: 1;
    grid-column: 10/13;
    scale: 30%;
    cursor: pointer;
    z-index: 1;
}
.leafbuttonL{
    grid-row: 1;
    grid-column: 1/4;
    scale: 30%;
    -webkit-transform: scale(-1, 1);
    cursor: pointer;
    z-index: 1;
}
.text1{
    text-align: center;
    grid-row: 2;
    grid-column: 4/10;
    background-color: beige;
    opacity: 40%;
}
.text2{
    text-align: center;
    grid-row: 3;
    grid-column: 4/10;
    background-color: grey;
    opacity: 40%;
}
.text3{
    grid-row: 4;
    grid-column: 4/10;
    background-color: bisque;
    opacity: 40%;
}
.shell1{
    grid-row: 5;
    grid-column: 2/6;
    scale: 60%;

}
.shell2{
    grid-row: 5;
    grid-column: 5/9;
    scale: 70%;

}
.shell3{
    grid-row: 5;
    grid-column: 8/12;
    scale: 60%;

}


.text4{
    grid-row: 6;
    grid-column: 4/10;
    background-color: antiquewhite;
    z-index: 1;
    opacity: 40%;
}

.wildflower{
    grid-row: 6;
    grid-column: 1/4;

}
.wildflower2{
    grid-row: 6;
    grid-column: 8/13;
    scale: 57%;
    transform: rotate(0deg);

}
.bee{
    grid-row: 5/7;
    grid-column: 2/4;
    scale: 30%;
    transform: rotate(30deg);
}
.text5{
    grid-row: 7;
    grid-column: 4/10;
    background-color: azure;
    opacity: 40%;
}
.text6{
    grid-row: 8;
    grid-column: 4/10;
    background-color: aliceblue;
    opacity: 40%;
}

.footer{
    grid-row: 9;
    grid-column: 1/13;
}

h2{
    text-align: center;
    color: red;
    font-family: Courier, 'Courier New', monospace;
    font-size: 2.5rem;
}

h1{
    font-family: mina,serif;
    font-weight: 400;
    font-style: normal; 
    color: white;

}
@media (min-width: 768px) {
    .service-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) ) ;
      grid-gap: 0px;
    }
   }