*{
    margin: 0;
}
body{
    background: linear-gradient(#8ABD91,#9AC791,#8ABD91,#71AB7A);
}
.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(9, 1fr);
    overflow: hidden; 
}
img {
    max-width: 100%;
    height: auto;
    width: auto\9;
}

    img:hover {
        animation: shake 2s;
        animation-iteration-count: infinite;
    }
    @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-3deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
    }

.home{
    padding-top: 20px; padding-left: 30px;
    position: absolute;
   
}

    a {
        -webkit-transition: color 1.5s;
        transition: color 1.5s;
        cursor: pointer;
    }
    a:link { 
        text-decoration: none;
        color: #2a6c34;
        cursor: pointer;
    }
    a:visited { 
        text-decoration: none;
        color: #2a6c34;
        cursor: pointer;
    }
    a:hover {
    color: brown;
    cursor: pointer;
    }
    a:active { 
        text-decoration: none; 
    }

.title{
    grid-row: 1;
    grid-column: 1/6;
    text-align: center;
    font-size: 1.55em;
    padding-top: 12em;
}

.previous{
    grid-row: 1;
    grid-column: 1/2;
    padding-top: 15em;
    text-align: center;
    scale: 80%;
}
.next{
    grid-row: 1;
    grid-column: 5/6;
    padding-top: 15em;
    text-align: center;
    scale: 80%;
}

.text1, .text2,.text3,.text4,.text5,.text6{
    grid-column: 2/5;
    font-size: 30;
    text-align: center;
    color: white;
}
.text1{
grid-row: 2;
}
.text2{
    grid-row: 3;
}
.text3{
    grid-row: 4;
}
.text4{
    grid-row: 6;
}
.text5{
    grid-row: 7;
    padding-bottom: 80px;
}
.text6{
    grid-row: 9;
}
.text{
   padding-top: 230px;
    text-align: center;
    grid-row: 2/7;
    grid-column: 2/5;
}

.ladybugR{
    grid-row: 2;
    grid-column: 5/6;
}
.ladybugL{
    grid-row: 2;
    grid-column: 1/2;
}
.bee{
    grid-row: 2;
    grid-column: 1/2;
}

.berries{
    grid-row: 3;
    grid-column: 1/2;
}
.berries2{
    grid-row: 3;
    grid-column: 5/6; 
    padding-left: 10px;  
    rotate: 180deg; 
}

.shell1,.shell2,.shell3,.shell4,.shell5{
    grid-row: 5;
    scale: 70%; 
}
/* .shell2{
    grid-row: 5;
    grid-column: 4;
}
.shell3{
    grid-row: 5;
    grid-column: 3;
} */

.leaf2{
    grid-row: 8;
    grid-column: 2/3;
}    
.leaf3{
    grid-row: 8;
    grid-column: 1/2;
}
.leaf4{
    grid-row: 8;
    grid-column: 3/4;
}
.leaf5{
    grid-row: 8;
    grid-column: 4/5;
}
.leaf6{
    grid-row: 8;
    grid-column: 5/6;
    scale: 90%;
}
footer{
    position: bottom;
    background-color:rgb(125, 58, 30);
    justify-content: center;
}
p{
    color: white;
    font-size: 25px;
    text-align: center;
    font-family: courier, monospace;
    font-weight: 500;
}
h4{
    font-size: 25px;
    padding-left: 3em;
    padding-right: 3em;
    text-align: center;
    font-family: Courier, 'Courier New', monospace;
}
h2{
    text-align: center;
    font-family: Courier, 'Courier New', monospace;
    font-size: 25px;
}

h1{
    font-family: fiora-monograms,sans-serif;
    font-size: 120px;
    font-weight: 500;
    font-style: normal;
    color: rgb(165, 46, 20);
    text-align: center;
    line-height: 95px;

}

@media (max-width: 600px) {
    .container{
        overflow: clip; 
    }
    body {
      background-color: #8ABD91;
    }
    .previous, .next{
        padding-top: 600px;
    }
    .previous{
        grid-column: 2;
    }
    .next{
        grid-column: 4;
    }
    p{
        font-size: 90%;
    }
    .title{
        font-size: 1.6em;
        padding-top: 5em;
    }
    footer{
        padding-bottom: 20px;
        width: 100%;
        font-size: 15pt;
        font-family: Courier, 'Courier New', monospace;
        font-weight: 500;
    }
    .text{
        grid-column: 1/6;
        padding-left: 20px;
        padding-right: 20px;
    }
    h4{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12pt;
    }
    h2{font-size: 16px;}
  }